<!-- <div style="text-align: center">
  <h1>This is the app component!</h1>
  <hr />

  <app-servers></app-servers>
  <app-success></app-success>
  <app-warning></app-warning>
</div> -->

<div class="container">
  <app-cockpit
    (ckptServerCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onChangeFirst()">
        Change First Element
      </button>

      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [elementFromServer]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>
    </div>
    <hr />

    <app-game-control (playGame)="onGameStarted($event)"></app-game-control>

    <app-odd *ngFor="let oddNo of oddNumbers" [oddNumber]="oddNo"></app-odd>
    <app-even *ngFor="let eveNo of evenNumbers" [evenNumber]="eveNo"></app-even>
    <p appHighlight>I just crated my own DIRECRTIVE IN ANGULAR!!</p>
    <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'orange'">
      I just crated my own DIRECRTIVE IN ANGULAR!!
    </p>
    <div>
      <ul>
        <div>
          <li *ngFor="let even of evenNumbers2">{{ even }}</li>
        </div>
      </ul>
    </div>

    <div class="switch" [ngSwitch]="value">
      <p *ngSwitchCase="'Dog'">Value is Dog</p>
      <p *ngSwitchCase="'Tyger'">Value is Tyger</p>
      <p *ngSwitchCase="'Lion'">Value is Lion</p>
      <p *ngSwitchDefault>Value is Default</p>
    </div>
  </div>
</div>
